[submodule "interface"]
	path = interface
	url = https://github.com/onepiece-framework/op-core-interface.git
[submodule "function"]
	path = function
	url = https://github.com/onepiece-framework/op-core-function.git
[submodule "trait"]
	path = trait
	url = https://github.com/onepiece-framework/op-core-trait.git
[submodule "include"]
	path = include
	url = https://github.com/TomoakiNagahara/op-core-include.git
