[submodule "interface"]
	path = interface
	url = https://github.com/onepiece-framework/op-core-interface.git
[submodule "function"]
	path = function
	url = https://github.com/onepiece-framework/op-core-function.git
[submodule "trait"]
	path = trait
	url = https://github.com/onepiece-framework/op-core-trait.git
[submodule "include"]
	path = include
	url = https://github.com/onepiece-framework/op-core-include.git
[submodule "class"]
	path = class
	url = https://github.com/onepiece-framework/op-core-class.git
[submodule "ci"]
	path = ci
	url = https://github.com/onepiece-framework/op-core-ci.git
[submodule "testcase"]
	path = testcase
	url = https://github.com/onepiece-framework/op-core-testcase.git
[submodule "tutorial"]
	path = tutorial
	url = https://github.com/onepiece-framework/op-core-tutorial.git
